@media screen and (max-width: 375px) {
  body {
    margin-left: 0.1px;
    margin-right: 0.1px;
  }

  .page-wrapper {
    font-family: 'Poppins', sans-serif;
    height: 718px;
  }

  .head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-wrapper {
    display: none;
  }

  .head-top h2 {
    color: #6070ff;
  }

  .headline {
    height: 85%;
    background: #ffff url(assets/mobile/header-shapes\ mobile.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .intro-phrase h1 {
    color: #172b4d;
    font-size: 40px;
    flex-wrap: wrap;
    flex: 2;
    font-weight: 700;
    line-height: 52px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0.1px;
    margin-top: 0.1px;
  }

  .intro-paragraph p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    flex: 2;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0.1px;
  }

  .connect-wrapper {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .connect-wrapper h3 {
    height: 5px;
    color: #7f8cff;
    font-weight: 500;
    line-height: 24px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: flex-start;
    margin-top: 10px;
    margin-bottom: 0.1px;
  }

  .social-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .social-list-wrapper {
    list-style: none;
    padding-left: 10px;
    padding-bottom: 15px;
    display: flex;
    flex: 2;
    justify-self: start;
    justify-content: space-between;
    width: 170.17px;
    margin-top: 0.1px;
  }

  .social-list-wrapper li {
    justify-content: start;
  }

}