@media screen and (max-width: 768px) {
  body {
    background-color: #e5e5e5;
    margin-left: 0.1px;
    margin-right: 0.1px;
    font-family: 'Poppins', sans-serif;
  }

  .head-top {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0.1px;
    height: 2.5rem;
  }

  .nav-wrapper {
    display: none;
  }

  .head-top a {
    color: #6070ff;
    font-weight: 650;
    font-size: 1.2rem;
    text-decoration: none;
    align-self: center;
  }

  .headline {
    background: #ffff url(assets/mobile/header-shapes\ mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6rem;
    padding-bottom: 100px;
  }

  .intro-phrase h1 {
    color: #172b4d;
    font-size: 2.5rem;
    flex-wrap: wrap;
    flex: 2;
    font-weight: 900;
    line-height: 3.5rem;
    padding-left: 1rem;
    padding-right: 10px;
    margin-bottom: 0.1px;
    margin-top: 15px;
  }

  .intro-paragraph p {
    font-size: 1.08rem;
    font-style: normal;
    font-weight: 400;
    flex: 2;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-bottom: 0.1px;
  }

  .connect-wrapper {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .connect-wrapper h3 {
    color: #7f8cff;
    font-size: 1.1rem;
    font-weight: 501;
    line-height: 24px;
    flex: 1;
    padding-left: 1rem;
    padding-right: 2rem;
    justify-self: flex-start;
    align-items: flex-start;
    margin-bottom: 0.1px;
    margin-top: 20px;
  }

  .social-wrapper {
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
  }

  .social-list-wrapper {
    list-style: none;
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex: 2;
    justify-self: center;
    justify-content: space-between;
    align-items: flex-end;
    width: 12rem;
    margin-top: 0.8rem;
  }

  .social-list-wrapper li {
    size: 5rem;
  }

  /* End of  Intro Page ---------------------------------------------------------- */

  .works-wrapper {
    padding: 20px;
    height: 700px;
  }

  .works-section {
    background-color: white;
    margin-top: 144px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    height: 596px;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    padding: 15px;
  }

  .work-snapshot img {
    width: 100%;
  }

  .work-description {
    display: flex;
    justify-content: start;
  }

  .desc-wrapper h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    justify-self: start;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .see-work {
    display: flex;
  }

  .see-work a {
    color: #396df2;
    border: solid #396df2 1px;
    border-radius: 10px;
    align-self: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 15px;
    text-decoration: none;
  }

  .desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .dec-details {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    width: 85%;
  }

  .dec-details > h4 {
    align-self: flex-start;
    margin-top: 0.01px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .grey-text {
    color: #7a869a;
  }

  .mobile-dot {
    margin-top: 4px;
    height: 8px;
  }

  .desc-text {
    color: #344563;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0.01px;
    margin-bottom: 0.01px;
  }

  .work-tech ul {
    display: flex;
    width: 75%;
    justify-content: space-between;
    padding-left: 0.01px;
  }

  .work-tech li {
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    list-style: none;
    color: #6070ff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }

  .multi-edit {
    margin-top: 40px;
  }
}
